<div class="modal-header">
  <h2>{{getDayByIndex()}}</h2>
</div>


<form *ngIf="addLessonForm" [formGroup]="addLessonForm" (ngSubmit)="addLesson()">
    <div class="modal-body">

      <p><span *ngIf="course">Cours de {{course.name}} </span>
        <span *ngIf="course && teacher">avec {{teacher.firstName}} {{teacher.lastName}} </span>
        <span *ngIf="classRoom">en salle {{classRoom.name}}</span></p>

      <label for="startHour">Heure de début</label>
      <ngb-timepicker [(ngModel)]="startHourIn" [minuteStep]="30" id="startHour" formControlName="startHour"></ngb-timepicker>

      <label for="endHour">Heure de fin</label>
      <ngb-timepicker [(ngModel)]="endHourIn" [minuteStep]="30" id="endHour" formControlName="endHour"></ngb-timepicker>


        <div *ngIf="teachers">
          <label>Enseignant</label>
          <select id="teacher" formControlName="teacher" [(ngModel)]="teacher" class="form-control">
            <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.firstName}} {{teacher.lastName}}</option>
          </select>
        </div>

      <div *ngIf="teacher">
        <label>Matière</label>
        <select id="course" formControlName="course" [(ngModel)]="course" class="form-control">
          <option *ngFor="let course of teacher.courses" [ngValue]="course">{{course.name}}</option>
        </select>
      </div>

      <div *ngIf="course && classRooms">
        <label>Salle</label>
        <select id="classRoom" formControlName="classRoom" [(ngModel)]="classRoom" class="form-control">
          <option *ngFor="let room of getAllowedRooms()" [ngValue]="room">{{room.name}}</option>
        </select>
      </div>
    </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Annuler</button>
    <button *ngIf="canDelete" type="button" class="btn btn-danger" (click)="deleteLesson()">Supprimer</button>
    <button *ngIf="classRoom" type="ngSubmit" class="btn btn-success">OK</button>
  </div>
</form>
