/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
  width: 1200px;
  margin: 0px auto;
  font-family: sans-serif;

  justify-content: center;
  background-color:#017e7a;
}

.fc .fc-col-header-cell-cushion{
  color: #e4de9b;
  text-decoration: none;
}
.fc .fc-timegrid-slot-label-cushion {
  color: #e4de9b;
}
.fc-today
{
  background-color:pink;
}
