h3{
  text-align: center;
  font-family: "Rockwell Condensed", sans-serif;
  color: #e4de9b;
}

div{
  width: 100%;
}


full-calendar{
  background-color: #65b3af
}

button{
  background-color: #e4de9b;
  color: black;
  border-color: black;

}

button:hover{
  background-color: #05504c;
}



